html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
fieldset, form, label, legend,
footer, header, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  font-family: 'Maven Pro', sans-serif;
  background-color: white;
  color: #242424;
}
.container {
  width: 70%;
  margin: 0 auto;
}
a {
  color: black;
  text-decoration: none;
}
main {
  padding: 0;
}
h1, h2, h3 {
  font-family: 'Patua One', serif;
}
h2 {
  font-size: 2.2rem;
  line-height: 1rem;
  padding: 2rem;
}
h3 {
  font-size: 1.5rem;
  padding: 1.5rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.clr {
  clear: both;
}
.section-background {
  background-color: #56a3b8;
}


/* Navigation Bar */

.top-nav {
  padding: 16px;
  background-color: #fcffc0;
}
.nav-links {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
  float: right;
}
.logo {
  display: inline-block;
  margin: 7px;
}
.logo-type {
  cursor: pointer;
  position: absolute;
  font-family: 'Patua One', cursive;
  font-size: 2.4rem;
  letter-spacing: -1px;
  margin-top: 5px;
  display: inline-block;
  color: #6B6B6B;
}
.nav-links li {
  float:right;
}
.nav-links li a, .dreams-nav-link{
  display: none;
  color: #6B6B6B;
  text-align: center;
  font-size: 17px;
}
.dreams-nav-link {
  padding: 15px 0;
}
.nav-links li a {
  padding: 26px 14px 8px 10px;
}
.nav-links li.icon a {
  padding: 8px 0 10px;
  font-size: 24px;
}
/* Hide the list item that contains the link that should open
and close the top-nav on small screens */
.nav-links li.icon {
  display: none;
  margin: 0;
}

/* Home Screen */

.splash {
  margin: 30px 0;
  /* padding: 9px 15px; */
  text-align: center;
}
.splash button {
  display: block;
  margin: 12px auto;
}
.splash img {
  width: 430px;
}
.steps {
  padding: 1rem;
}
.step {
  margin: .5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.step h3 {
  padding: 0 0 1rem;
}
.start {
  text-align: center;
  padding: 40px 10px;
}

/* Footer */

footer {
  text-align: center;
}

/* Buttons  */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #5a5a5a;
  border-radius: 0;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #676767;
}

input[type="submit"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #4d4d4d;
}

input[type="submit"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35em;
}

input[type="submit"].special,
input[type="button"].special,
button.special,
.button.special {
  margin: 17px;
  background-color: #f6ff4a;
  color: #303030 !important;
}

input[type="submit"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #dfe92d;
}

input[type="submit"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #f2ff00;
}

/* Tablet */

@media only screen and (max-width: 950px) {
  .container {
    width: 100%;
  }
  .splash img {
    width: 300px;
  }
}

/* Mobile */
@media only screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
  .top-nav {
    padding: 7px;
  }
  .logo {
    width: 30px;
  }
  .logo-type {
    margin: 2px;
    font-size: 2rem;
  }
  .splash img {
    width: 85%;
  }
  .nav-links li:not(:last-child){
    display:none;
  }
  .nav-links li.icon {
    display: inline-block;
  }
  .nav-links.responsive {
    position:relative;
  }
  .nav-links.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-links.responsive li:first-child {
    padding-top: 30px;
  }
  .nav-links.responsive li {
    float: none;
    display: block;
  }
  .nav-links.responsive li a {
    display: block;
    text-align: left;
  }
  input[type="submit"],
  input[type="button"],
  button,
  .button.special,
  .button {
    padding: 0;
    width: 100%;
    margin: 0;
  }
}