.autocomplete-suggestion {
  padding: 1rem 0;
  font-size: 1.3rem;
  cursor: pointer;
  line-height: 2rem;
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .autocomplete-suggestion {
    line-height: 2.5rem;
  }
}