.header {
  margin: 0 auto;
}
.top-nav {
  padding: 16px;
  background-color: #fcffc0;
  border-bottom: 1px solid #eff385;
}
.nav-links {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
  float: right;
  margin-top: 20px;
}
.nav-links a:hover {
  font-weight: normal;
}
.logo {
  margin: 7px;
  float: left;
}
.logo-type {
  cursor: pointer;
  position: absolute;
  font-family: 'Patua One', cursive;
  font-size: 2.4rem;
  letter-spacing: -1px;
  margin-top: 5px;
  color: #6B6B6B;
  padding: 0;
  float: left;
}
.nav-links li {
  display: inline;
}
.nav-links a {
  color: #6B6B6B;
  text-align: center;
  font-size: 17px;
}
.nav-links li a {
  padding: 10px;
}
.toggle-button {
  padding: 8px 0 10px;
  font-size: 24px;
  position: absolute;
  top: 5px;
  right: 15px;
}
/* Hide the list item that contains the link that should open
and close the top-nav on small screens */
.toggle-button {
  display: none;
  margin: 0;
}
.logout-link {
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .top-nav {
    padding: 7px 0;
  }
  .logo {
    width: 30px;
  }
  .logo-type {
    margin: 2px;
    font-size: 2rem;
  }
  .nav-links {
    display:none;
  }
  .toggle-button {
    display: inline-block;
  }
  .nav-links.responsive {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
  }
  .nav-links.responsive li a {
    display: block;
    text-align: right;
    padding: 1rem;
    border-top: 1px solid #cecece;
  }
}