.profile h1 {
  display: inline-block;
}
.profile .face {
  display: inline-block;
  position: relative;
  top: 9px;
  width: 53px;
  padding-right: 7px;
}
.profile h2, .profile h3 {
  padding-bottom: 0;
}
.profile ul li header {
  margin: 7px 0 3px;
}
button .add-edit-interests {
  margin-top: 0;
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .profile h1 {
    padding: 0 0 1rem;
  }
  .add-edit-interests {
    margin: 0 0 1rem;;
  }
}