form {
  text-align: left;
  margin: auto;
}

input, textarea {
  width: 100%;
  max-width: 640px;
}

input[type="number"] {
  width: 50px;
}

label {
  display: block;
}

.registration-form button {
  margin-top: 15px;
}