* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 1.2em;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

a {
  color: black;
}

nav a {
  text-decoration: none;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

form {
  text-align: left;
  margin: auto;
}

input, textarea {
  width: 100%;
  max-width: 500px;
}

input[type="number"] {
  width: 50px;
}

label {
  display: block;
}

.form-section {
  margin-bottom: 30px;
}

ul, ol {
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

.large-button {
  font-size: 18px;
  padding: 12px;
  border-radius: 5px;
  margin-top: 20px;
}

form button {
  display: block;
  margin-top: 14px;
}

form ul button {
  display: inline;
}

.user-name {
  margin-bottom: 0;
}