@charset "UTF-8";

/* Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
fieldset, form, label, legend,
footer, header, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

/* General */

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: white;
  color: #242424;
}
.container {
  width: 70%;
  margin: 2rem auto;
}
main {
  padding: 0;
  min-height: 68vh;
}
h1, h2, h3 {
  font-family: 'Patua One', serif;
}
h1 {
  font-size: 2rem;
  padding: 2rem 0;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  padding: 1rem 0;
}
h3 {
  font-size: 1.4rem;
  padding: 1.2rem 0 .5rem;
}
a {
  color: #3B7A8C;
  text-decoration: none;
}
a:hover {
  color: rgb(102, 175, 195);
}
p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  font-size: 1.2rem;
  line-height: 2.1rem;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #747474;
  margin: 1em 0;
  padding: 0; 
}
.clr {
  clear: both;
}
.section-background {
  background-color: #56a3b8;
}

/* Buttons  */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #fcffc0;
  border-radius: 1px;
  border: 0;
  color: #303030;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 2.85rem;
  line-height: 2.95rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid #cad13d;
  margin-top: 20px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #faff9e;
  border: 2px solid #d1f5ff;

}
input[type="submit"]:active,
input[type="button"]:active,
button:active,
.button:active {
  border: 3px solid #91e6fd;
}
input[type="submit"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.735rem;
}
input[type="submit"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}
input[type="submit"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}
input[type="submit"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: .8rem;
  padding: .2rem;
  line-height: .8rem;
  height: 1.2rem;
}
input[type="submit"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35rem;
}
input[type="submit"].special,
input[type="button"].special,
button.special,
.button.special {
  margin: 17px;
}
input[type="submit"].disabled, 
input[type="submit"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: #9a9a9a !important;
  box-shadow: inset 0 -0.15rem 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25;
}

/* Forms */

form {
  margin: 0 0 2rem 0;
}
label {
  color: #555;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 .4rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
input,
select
{
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 0;
  border: none;
  border: solid 1px #dbdbdb;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
  height: 2.6rem;
  font-size: 1.2rem;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input:focus,
select:focus,
textarea:focus {
  border-color: #56a3b8;
  box-shadow: 0 0 0 1px #5385c1;
}
.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}
.select-wrapper:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.select-wrapper:before {
  color: #dbdbdb;
  display: block;
  height: 2.75rem;
  line-height: 2.75rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75rem;
}
.select-wrapper select::-ms-expand {
  display: none;
}
textarea {
  padding: 0.75rem 1rem;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #9a9a9a;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 2.4rem;
  padding-right: 0.75rem;
  position: relative;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 0;
  border: solid 1px #dbdbdb;
  content: '';
  display: inline-block;
  height: 1.65rem;
  left: 0;
  line-height: 1.58125rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65rem;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
background: #5a5a5a;
border-color: #5a5a5a;
color: #ffffff;
content: '\f00c';
}
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
border-color: #5385c1;
box-shadow: 0 0 0 1px #5385c1;
}
input[type="checkbox"] + label:before {
  border-radius: 0;
}
input[type="radio"] + label:before {
  border-radius: 100%;
}
::-webkit-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}
:-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}
::-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}
:-ms-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}
.formerize-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}
.form-error {
  color: red;
}

/* Float grid 
 * Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}
.row::after {
  clear: both;
}
.col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
  float: left;

/* Gutters:
  * Each column is padded by half-a-gutter on each side,
  * Half a gutter is 10px, 10/960 (context) = 1.041666%
  */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-2 {
    width: 12.5%;
  }
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33333%;
  }
  /* 6 columns */
  .col-6 {
    width: 50%;
  }
  .col-8{
    width: 66.66666%;
  }
  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}

/* Responsive media queries */

/* Tablet */
@media only screen and (max-width: 950px) {
  .container {
    width: 90%;
  }
  .top-nav .container {
    width: 100%;
  }
  .splash img {
    width: 300px;
  }
}

/* Mobile */
@media only screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
  .wide {
    width: 100%;
  }
  input, textarea {
    width: 100%;
    max-width: 100%;
  }
}
